.img-box-meta {
  width: 500px;
  height: auto;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
}

img.meta-img {
  text-align: center !important;
  width: 236px !important;
  height: 124px;
  margin-top: 48px
}

.meta-head {
  color:#000;
}
.meta-para {
  color: #333;
  font-family: 'Open Sans';
}
.cardiac-condition {
  height: auto;
  width: 400px;
  border-top: 25px;
  padding: 40px;
  
}
.meta-list {
  border-top: 10px;
}

.exam-para {
  color: #fff;
  font-family: 'Open Sans';
}
.p-2.meta-list {
  margin-top: 43px;
  margin-left: 100px;
}
/* ul li {
  list-style: none !important;
  font-size: 15px;
  font-weight: 500;
  line-height: 29px;
} */

.meata-sec-p {
  padding: 50px !important;
}

hr {
  color:#000;
  width: 100%;
}

.report-container {
  background: linear-gradient(
    rgb(82 131 199 / 80%) 4.2%, rgba(16, 107, 147, 0.8) 27.5%, rgba(7, 138, 110, 0.8) 69.73%, rgba(55, 190, 128, 0.8) 97.39%
  );
  padding: 14px !important;
  border-radius: 6px;
}

.report-container .para-1 {
  color: white;
  /* line-height: 28px; */
  margin-top: 25px;
  text-align: justify;
}

.para-2 {
  color: white;
  /* line-height: 28px; */
  margin-top: 23px;
  text-align: justify;
}

.btn-report {
  background: #f99d1b;
  box-shadow: 0px 6.5625px 13.125px rgb(0 0 0 / 33%);
  border: 1px solid #d45e1b;
  border-radius: 4px;
  width: 150px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open sans';
  margin-top: 23px !important;
}

.btn-report:hover {
  color: white;
}

.cardic-condition-box{
  box-shadow: 1px 2px 13px 1px #44444430;
}