.img-box-meta{
  width: 500px;
  height: 350px;
  background-color: #fff;
}
.meta-img{
  height: 130px;
  width :130px;
}

.meta-head{
  color: #fff;
}
.meta-para{
  color: #fff;
  font-family: 'Open Sans';
}
.cardiac-condition{
  height: 400px;
  width: 400px;
}

.exam-para{
  color: #fff;
  font-family: 'Open Sans';
}