.pharma-report-container{
font-size: 16px;
}

.pharama-repo-tabl table  td:first-child{

  background-color: #D6DDE8;
}

.pharama-repo-tabl table  td:first-child{
  background-color: #CCE9E0;
}
