.table-health-1 {
  background-color: white;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.table-health-1 thead {
  font-weight: 800;
}

.table-health-1 table thead tr td:nth-child(4) {
  text-align: center;
}
.table-health-1 table tbody tr td:nth-child(3) {
  color: #b60a02;
  text-align: center;
  font-weight: 600;
}
.table-health-1 table tbody tr td:nth-child(4) {
  text-align: center;
  font-weight: 600;
}

.table-health-1 table td {
  padding: 1rem 0.5rem;
}

.yes-text {
  color: #b60a02;
}

.no-text {
  color: #00b160;
}
