/* .health-main {
  width: 100%;
  position: relative;
  z-index: 1;
  height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background: linear-gradient(
    110.27deg,
    rgba(6, 55, 123, 0.8) 4.2%,
    rgba(16, 107, 147, 0.8) 27.5%,
    rgba(7, 138, 110, 0.8) 69.73%,
    rgba(55, 190, 128, 0.8) 97.39%
  );
  color: white;
}

.health-main::after {
  content: '';
  background-image: url('https://github.com/nehasaipangallu/strand2/blob/main/public/20043%201.svg?raw=true');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 0;
} */


.img-box {
  display: flex;
  z-index: 1;
  height: 150px;
  width: 100%;
  background-color: #06377b;
  font-size: 10px;
  padding-top: 20px;
  border-radius: 6px;
}

.img-captions {
  width: 100%;
}

.img-captions p {
  color: white;
}

.btn-report {
  background: #f99d1b;
  box-shadow: 0px 6.5625px 13.125px rgb(0 0 0 / 33%);
  border: 1px solid #d45e1b;
  border-radius: 4px;
  width: 150px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open sans';
}

.body-para {
  font-size: 20px;
}
.carousel-health {
  height: 450px;
  width: 100%;
  right: 40px;
}

.carousel-health > .carousel,
.carousel-health > .carousel > .carousel-inner {
  height: 100%;
}

.carousel-health > .carousel > .carousel-inner > .carousel-item {
  height: 90%;
}
.flex-car {
  background-color: white;
  color: black;
  z-index: 1;
  height: 100%;
}

.car-img-item {
  width: 500px;
  background-color: white;
  z-index: 1;
}

.carousel-cap {
  color: black;
  left: 10px;
  font-size: 15px;
  position: static;
}

.bar-box {
  height: 450px;
  width: 350px;
  background-color: white;
  border-radius: 30px;
  align-items: center;
}

.bar-img {
  height: 250px;
  width: 250px;
}

.bar-box-2 {
  height: 450px;
  width: 350px;
  background-color: #33578b;
  border-radius: 30px;
  margin-left: 80px;
  color: #fff;
}

.table-cont {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.carousel-2-flex > .carousel-2-img {
  width: 500px;
  height: 500px;
}

.carousel-2 {
  background-color: #fff;
  color: black;
}

.body-para > .section1 > .section-head{
  color:#fff
}

.genes-head{
  color:#fff;
  font-family: "Baloo 2";
}
.other-head{
  color: #fff;
  justify-self: center;
}
.other-para{
  color: #fff;
}
.unsorted-list{
  color: #fff;
  font-size: 14px;
}
.carousel-3-img{
  width: 500px;
  height: 500px;
}