.adult-onset {
}

.adult-onset .adult-img-container {
  background-image: url('https://github.com/nehasaipangallu/strand2/blob/main/public/Rectangle%205200.svg?raw=true');
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
}
