@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lobster&family=Open+Sans:ital,wght@0,600;1,600&display=swap');

body {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
/* p{
  line-height: 20px;
  font-family: 'Baloo 2', cursive!important;
}
h1{
  font-family: 'Baloo 2', cursive!important;
} */
.header {
  width: 100%!important;
  height: 90px;
  color: rgb(12, 12, 12);
  background-color: white !important;
}

.nav-items a {
  justify-content: space-evenly;
  display: block !important;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  float: right !important;
  text-align: center;
  padding: 14px 16px;
}
.nav-items{
  margin-left: auto!important;
  float: left;
}


.logo {
  height: 60px;
  width: auto;
}

.header .heading {
  font-family: Baloo;
  font-weight: 600;
}

/* responsive */
@media screen and (max-width: 480px) {
 
  .header {
    width: 100%!important;
    height: 90px;
    color: rgb(12, 12, 12);
    background-color: white !important;
  }
  
  .nav-items a {
    justify-content: space-evenly;
    display: block !important;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    float: right !important;
    text-align: center;
    padding: 11px 10px;
}
}

@media screen and (max-width: 700px) {
  .nav-items a {
    justify-content: space-evenly;
    display: block !important;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    float: right !important;
    text-align: center;
    padding: 11px 10px!important;
}
}

@media screen and (max-width: 992px) {
  .nav-items a {
    justify-content: space-evenly;
    display: block !important;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    float: right !important;
    text-align: center;
    padding: 11px 10px!important;
}
}
@media screen and (max-width: 600px) {
.nav-items a {
  justify-content: space-evenly;
  display: block !important;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  float: right !important;
  text-align: center;
  padding: 11px 10px!important;
}
}

@media screen and (min-device-width: 575px) and (max-device-width: 992px) { 
  .nav-items a {
    justify-content: space-evenly;
    display: block !important;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    float: right !important;
    text-align: center;
    padding: 8px 9px!important;
  
} 
}

@media screen and (min-device-width: 574px) and (max-device-width: 584px) { 
  .nav-items a {
    justify-content: space-evenly;
    display: block !important;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    float: right !important;
    text-align: center;
    padding: 6px 6px!important;
   
  }
} 
  
  
