.report-container{
  display: flex;
  z-index: 1;
  height: 250px;
  width: 100%;
  background-color: #06377b;
  font-size: 10px;
  padding-top: 20px;
  border-radius: 6px;
  margin-top: 50px;
  color:#fff;
  padding-right:23px;
}
.cardio-class{
  color:#fff
}

.cardic-condition-box {
  display: flex;
  height:  537px;
  width: 1105.94px;;
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Open Sans";
  align-content: space-between;
}

.cardio-img{
  width: 150px;
  height: 150px;
  top:10px;
}

.cardiac-condition{
  height: 500px;
  width: 400px;
}

.tumor-img{
  width: 500px;
  height:500px;
  left:0;
}
.arhy-img{
  width: 400px;
  height: 500px;
}
.heart-img{
  width: 400px;
  height: 500px;
}
.heart-2{
  width: 400px;
  height: 500px;
}

.cardio-1 h1{
  padding: 23px;
}
