
.health-main{
  width: 100%;
  position: relative;
  z-index: 1;
  height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background: linear-gradient(
    110.27deg,
    rgba(6, 55, 123, 0.8) 4.2%,
    rgba(16, 107, 147, 0.8) 27.5%,
    rgba(7, 138, 110, 0.8) 69.73%,
    rgba(55, 190, 128, 0.8) 97.39%
  );
  color: white;
}

.health-main::after {
    content: '';
    background-image: url('https://github.com/nehasaipangallu/strand2/blob/main/public/20043%201.svg?raw=true');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: 0;
  }


.img-box{
  display:flex;
  z-index: 1;
  height:100px;
  width:100%;
  background-color:#06377B;
  font-size: 10px;
  padding-top: 20px;
  
}

.body-para{
  font-size: 20px;
  
}
.car-item{
  background-color: white;
  z-index:1;
  
}
.car-row{
  background-color: white;
  z-index: 1;
  width:800px
}
  .car-img{
  width:600px;
  background-color:white;
  z-index:1;
  color: black;

}

 .car-row-2 {
  color: black;
  background-color: white;
  z-index: 1;
}

.car-img-second{
  width:600px;
  background-color:white;
  z-index:1;
  color: black;
}

.car-row-sec{
  color: black;
  background-color: white;
  z-index: 1;
}

.car-row-second{
  color: black;
  background-color: white;
  z-index: 1;
}