body {
  font-size: 16px;
}

h2 {
  font-size: 20px;
  font-family: 'Baloo 2';
}

.pageWrapper {
  padding: 20px;
  background: linear-gradient(
    110.27deg,
    rgba(6, 55, 123, 0.8) 4.2%,
    rgba(16, 107, 147, 0.8) 27.5%,
    rgba(7, 138, 110, 0.8) 69.73%,
    rgba(55, 190, 128, 0.8) 97.39%
  );
}
