@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 20px;
  font-family: 'Baloo 2';
}

.pageWrapper {
  background: linear-gradient(
    110.27deg,
    rgba(6, 55, 123, 0.8) 4.2%,
    rgba(16, 107, 147, 0.8) 27.5%,
    rgba(7, 138, 110, 0.8) 69.73%,
    rgba(55, 190, 128, 0.8) 97.39%
  );
}

.innerWrapper {
  padding: 20px;
}
p {
  font-size: 15px;
  font-family: 'Open Sans';
}

.header .nav-items {
  font-size: 16px !important;
}

/* COLORS */
.c1 {
  color: #fff !important;
}
.c2 {
  color: rgb(17, 17, 17) !important;
}

/* BORDER RADIUS */
.bdrRad1 {
  border-radius: 6px;
}

/* FONTSIZES */

.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}

/* HEADERS */
h3 {
  font-family: 'Baloo 2';
  font-size: 20px;
  font-weight: 600;
}
h2 {
  font-family: 'Baloo 2';
  font-size: 24px;
  font-weight: 600;
}
h1 {
  font-family: 'Baloo 2';
  font-size: 26px;
  font-weight: 600;
}

.pageWrapper {
  height: calc(100vh - 90px);
  overflow: auto;
}
